### Pandas 기초

pandas 연속 생성하기

In [40]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

인덱스 생성

In [41]:
dates = pd.date_range('20210101',periods=6)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

프레임에 데이터 넣기

In [42]:
df = pd.DataFrame(np.random.randn(6,4), index=dates ,columns=['A','B','C','D'])
df

                   A         B         C         D
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505
2021-01-04  0.830721  0.729854 -0.336945 -0.268859
2021-01-05 -0.090913 -1.725739  0.064601  1.232818
2021-01-06  0.652690  2.650685 -0.414020  1.457426

헤더(상위 5개만) 출력

In [43]:
df.head()

                   A         B         C         D
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505
2021-01-04  0.830721  0.729854 -0.336945 -0.268859
2021-01-05 -0.090913 -1.725739  0.064601  1.232818

앞에 3개만 출력

In [44]:
df.head(3)

                   A         B         C         D
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505

인덱스 출력

In [45]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

columns 출력

In [46]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

값 출력

In [47]:
df.values

array([[-0.41629889, -0.30990094,  0.41821552, -0.95989204],
       [-0.12637014,  0.58458581, -0.63098737, -0.91013844],
       [-0.76755433,  0.11199208,  1.14815634,  1.39550533],
       [ 0.83072059,  0.72985392, -0.33694544, -0.26885858],
       [-0.0909134 , -1.72573905,  0.06460117,  1.23281814],
       [ 0.65269   ,  2.65068519, -0.41401959,  1.457426  ]])

상세 함수들

In [48]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.013712  0.340246  0.041503  0.324477
std    0.616709  1.434762  0.658801  1.164619
min   -0.767554 -1.725739 -0.630987 -0.959892
25%   -0.343817 -0.204428 -0.394751 -0.749818
50%   -0.108642  0.348289 -0.136172  0.481980
75%    0.466789  0.693537  0.329812  1.354834
max    0.830721  2.650685  1.148156  1.457426

정렬하기

In [49]:
df.sort_values(by='B',ascending=False)

                   A         B         C         D
2021-01-06  0.652690  2.650685 -0.414020  1.457426
2021-01-04  0.830721  0.729854 -0.336945 -0.268859
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-05 -0.090913 -1.725739  0.064601  1.232818

In [50]:
df

                   A         B         C         D
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505
2021-01-04  0.830721  0.729854 -0.336945 -0.268859
2021-01-05 -0.090913 -1.725739  0.064601  1.232818
2021-01-06  0.652690  2.650685 -0.414020  1.457426

columnd 으로 인덱싱

In [51]:
df['A']

2021-01-01   -0.416299
2021-01-02   -0.126370
2021-01-03   -0.767554
2021-01-04    0.830721
2021-01-05   -0.090913
2021-01-06    0.652690
Freq: D, Name: A, dtype: float64

인덱스로 슬라이싱

In [52]:
df['20210102':'20210104']

                   A         B         C         D
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505
2021-01-04  0.830721  0.729854 -0.336945 -0.268859

Loc 으로 인덱싱

In [53]:
df.loc[dates[0]]

A   -0.416299
B   -0.309901
C    0.418216
D   -0.959892
Name: 2021-01-01 00:00:00, dtype: float64

In [54]:
df.loc[:,['A','B']]

                   A         B
2021-01-01 -0.416299 -0.309901
2021-01-02 -0.126370  0.584586
2021-01-03 -0.767554  0.111992
2021-01-04  0.830721  0.729854
2021-01-05 -0.090913 -1.725739
2021-01-06  0.652690  2.650685

In [57]:
df.loc['20210102':'20210104',['A','B']]

                   A         B
2021-01-02 -0.126370  0.584586
2021-01-03 -0.767554  0.111992
2021-01-04  0.830721  0.729854

In [58]:
df.loc['20210102',['A','B']]

A   -0.126370
B    0.584586
Name: 2021-01-02 00:00:00, dtype: float64

In [59]:
df.loc[dates[0],'A']

-0.41629888673422516

In [60]:
df.iloc[3]

A    0.830721
B    0.729854
C   -0.336945
D   -0.268859
Name: 2021-01-04 00:00:00, dtype: float64

In [61]:
df.iloc[3:5,0:2]

                   A         B
2021-01-04  0.830721  0.729854
2021-01-05 -0.090913 -1.725739

In [62]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2021-01-02 -0.126370 -0.630987
2021-01-03 -0.767554  1.148156
2021-01-05 -0.090913  0.064601

In [63]:
df.iloc[1:3,:]

                   A         B         C         D
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505

In [64]:
df.iloc[:,1:3]

                   B         C
2021-01-01 -0.309901  0.418216
2021-01-02  0.584586 -0.630987
2021-01-03  0.111992  1.148156
2021-01-04  0.729854 -0.336945
2021-01-05 -1.725739  0.064601
2021-01-06  2.650685 -0.414020

In [65]:
df

                   A         B         C         D
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138
2021-01-03 -0.767554  0.111992  1.148156  1.395505
2021-01-04  0.830721  0.729854 -0.336945 -0.268859
2021-01-05 -0.090913 -1.725739  0.064601  1.232818
2021-01-06  0.652690  2.650685 -0.414020  1.457426

Pandas 논리적인 인덱싱

In [66]:
df[df.A > 0]

                   A         B         C         D
2021-01-04  0.830721  0.729854 -0.336945 -0.268859
2021-01-06  0.652690  2.650685 -0.414020  1.457426

In [67]:
df[df>0]

                   A         B         C         D
2021-01-01       NaN       NaN  0.418216       NaN
2021-01-02       NaN  0.584586       NaN       NaN
2021-01-03       NaN  0.111992  1.148156  1.395505
2021-01-04  0.830721  0.729854       NaN       NaN
2021-01-05       NaN       NaN  0.064601  1.232818
2021-01-06  0.652690  2.650685       NaN  1.457426

pandas dataframe 추가

In [69]:
df2 = df.copy()

In [70]:
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892    one
2021-01-02 -0.126370  0.584586 -0.630987 -0.910138    one
2021-01-03 -0.767554  0.111992  1.148156  1.395505    two
2021-01-04  0.830721  0.729854 -0.336945 -0.268859  three
2021-01-05 -0.090913 -1.725739  0.064601  1.232818   four
2021-01-06  0.652690  2.650685 -0.414020  1.457426  three

pandas dataframe 내부 확인

In [71]:
df2['E'].isin(['two','four'])

2021-01-01    False
2021-01-02    False
2021-01-03     True
2021-01-04    False
2021-01-05     True
2021-01-06    False
Freq: D, Name: E, dtype: bool

In [72]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2021-01-03 -0.767554  0.111992  1.148156  1.395505   two
2021-01-05 -0.090913 -1.725739  0.064601  1.232818  four

Pandas DataFrame Apply  
집계

In [73]:
df.apply(np.cumsum)

                   A         B         C         D
2021-01-01 -0.416299 -0.309901  0.418216 -0.959892
2021-01-02 -0.542669  0.274685 -0.212772 -1.870030
2021-01-03 -1.310223  0.386677  0.935384 -0.474525
2021-01-04 -0.479503  1.116531  0.598439 -0.743384
2021-01-05 -0.570416 -0.609208  0.663040  0.489434
2021-01-06  0.082274  2.041477  0.249021  1.946860

In [74]:
df.apply(lambda x : x.max() - x.min())

A    1.598275
B    4.376424
C    1.779144
D    2.417318
dtype: float64