In [2]:
import pandas as pd

In [3]:
contries = pd.read_csv('./countries.csv',index_col=0)
contries

     country      area     capital  population
code
KR     Korea     98480       Seoul    48422644
US       USA   9629091  Washington   310232863
JP     Japan    377835       Tokyo   127288000
CN     China   9596960     Beijing  1330044000
RU    Russia  17100000      Moscow   140702000