#### 두 DataFrame 합치기

In [2]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({'A':['A1','A2','A3','A4'],
                    'B':['B1','B2','B3','B4'],
                    'C':['C1','C2','C3','C4'],
                    'D':['D1','D2','D3','D4']},
                    index=[0,1,2,3])

df2 = pd.DataFrame({'A':['A5','A6','A7','A8'],
                    'B':['B5','B6','B7','B8'],
                    'C':['C5','C6','C7','C8'],
                    'D':['D5','D6','D7','D8']},
                    index=[4,5,6,7])

df3 = pd.DataFrame({'A':['A9','A10','A11','A12'],
                    'B':['B9','B10','B11','B12'],
                    'C':['C9','C10','C11','C12'],
                    'D':['D9','D10','D11','D12']},
                   index=[8,9,10,11])

In [9]:
df1

    A   B   C   D
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3
3  A4  B4  C4  D4

In [10]:
df2

    A   B   C   D
4  A5  B5  C5  D5
5  A6  B6  C6  D6
6  A7  B7  C7  D7
7  A8  B8  C8  D8

In [11]:
df3

      A    B    C    D
8    A9   B9   C9   D9
9   A10  B10  C10  D10
10  A11  B11  C11  D11
11  A12  B12  C12  D12

In [12]:
result = pd.concat([df1,df2,df3])
result

      A    B    C    D
0    A1   B1   C1   D1
1    A2   B2   C2   D2
2    A3   B3   C3   D3
3    A4   B4   C4   D4
4    A5   B5   C5   D5
5    A6   B6   C6   D6
6    A7   B7   C7   D7
7    A8   B8   C8   D8
8    A9   B9   C9   D9
9   A10  B10  C10  D10
10  A11  B11  C11  D11
11  A12  B12  C12  D12

In [14]:
result = pd.concat([df1,df2,df3], keys=['x','y','z'])
result

        A    B    C    D
x 0    A1   B1   C1   D1
  1    A2   B2   C2   D2
  2    A3   B3   C3   D3
  3    A4   B4   C4   D4
y 4    A5   B5   C5   D5
  5    A6   B6   C6   D6
  6    A7   B7   C7   D7
  7    A8   B8   C8   D8
z 8    A9   B9   C9   D9
  9   A10  B10  C10  D10
  10  A11  B11  C11  D11
  11  A12  B12  C12  D12

In [15]:
result.index

MultiIndex([('x',  0),
            ('x',  1),
            ('x',  2),
            ('x',  3),
            ('y',  4),
            ('y',  5),
            ('y',  6),
            ('y',  7),
            ('z',  8),
            ('z',  9),
            ('z', 10),
            ('z', 11)],
           )

In [16]:
result.index.get_level_values(0)

Index(['x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'z', 'z', 'z', 'z'], dtype='object')

In [17]:
result.index.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [18]:
result

        A    B    C    D
x 0    A1   B1   C1   D1
  1    A2   B2   C2   D2
  2    A3   B3   C3   D3
  3    A4   B4   C4   D4
y 4    A5   B5   C5   D5
  5    A6   B6   C6   D6
  6    A7   B7   C7   D7
  7    A8   B8   C8   D8
z 8    A9   B9   C9   D9
  9   A10  B10  C10  D10
  10  A11  B11  C11  D11
  11  A12  B12  C12  D12

In [23]:
df4 = pd.DataFrame({'B' : ['B2','B3','B6','B7'],
                   'D' : ['D2','D3','D6','D7'],
                   'F' : ['F2','F3','F6','F7']},
                   index=[2,3,6,7])

In [24]:

result = pd.concat([df1,df4],axis=1)
result

     A    B    C    D    B    D    F
0   A1   B1   C1   D1  NaN  NaN  NaN
1   A2   B2   C2   D2  NaN  NaN  NaN
2   A3   B3   C3   D3   B2   D2   F2
3   A4   B4   C4   D4   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [26]:
result = pd.concat([df1,df4],axis=1, join_axes=[df1.index])
result

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [27]:
result = pd.concat([df1,df4],ignore_index=True)
result

     A   B    C   D    F
0   A1  B1   C1  D1  NaN
1   A2  B2   C2  D2  NaN
2   A3  B3   C3  D3  NaN
3   A4  B4   C4  D4  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [28]:
left = pd.DataFrame({'Key' : ['K0','K1','K2','K3'],
                   'A' : ['A0','A1','A2','A3'],
                   'B' : ['B0','B1','B2','B3']})

right = pd.DataFrame({'Key' : ['K0','K1','K2','K3'],
                   'C' : ['C0','C1','C2','C3'],
                   'D' : ['D0','D1','D2','D3']})

In [29]:
left

  Key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [30]:
right

  Key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [32]:
pd.merge(left,right,on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [33]:
pd.merge(left,right,how='left',on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [34]:
pd.merge(left,right,how='right',on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [35]:
pd.merge(left,right,how='outer',on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [36]:
pd.merge(left,right,how='inner',on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3