In [2]:
import pandas as pd

In [20]:
contries = pd.read_csv('./countries.csv')
contries

  code country      area     capital  population
0   KR   Korea     98480       Seoul    48422644
1   US     USA   9629091  Washington   310232863
2   JP   Japan    377835       Tokyo   127288000
3   CN   China   9596960     Beijing  1330044000
4   RU  Russia  17100000      Moscow   140702000

In [21]:
contries['density'] = contries['population']/contries['area']
contries

  code country      area     capital  population     density
0   KR   Korea     98480       Seoul    48422644  491.700284
1   US     USA   9629091  Washington   310232863   32.218292
2   JP   Japan    377835       Tokyo   127288000  336.887795
3   CN   China   9596960     Beijing  1330044000  138.590137
4   RU  Russia  17100000      Moscow   140702000    8.228187

In [22]:
df = pd.DataFrame({'code' :["CA"],
                   'country':["Canada"],
                   'area' : [9984670],
                   'capital' : ['ottawa'],
                   'population' : [34300000],
                  })
df2 = contries.append(df,ignore_index=True)
df2

  code country      area     capital  population     density
0   KR   Korea     98480       Seoul    48422644  491.700284
1   US     USA   9629091  Washington   310232863   32.218292
2   JP   Japan    377835       Tokyo   127288000  336.887795
3   CN   China   9596960     Beijing  1330044000  138.590137
4   RU  Russia  17100000      Moscow   140702000    8.228187
5   CA  Canada   9984670      ottawa    34300000         NaN

In [24]:
contries.drop(index=2,axis=0,inplace=True)
contries

  code country      area     capital  population     density
0   KR   Korea     98480       Seoul    48422644  491.700284
1   US     USA   9629091  Washington   310232863   32.218292
3   CN   China   9596960     Beijing  1330044000  138.590137
4   RU  Russia  17100000      Moscow   140702000    8.228187

In [25]:
contries.drop(['capital'],axis=1,inplace=True)
contries

  code country      area  population     density
0   KR   Korea     98480    48422644  491.700284
1   US     USA   9629091   310232863   32.218292
3   CN   China   9596960  1330044000  138.590137
4   RU  Russia  17100000   140702000    8.228187